  <!--==============================content================================-->
  <section id="content">
    <div class="container_12">
      <div class="grid_12">
        <div class="box-shadow">
          <div class="wrap">
            <div class="col-3" style="padding-left:20px;margin-right:20px;width:300px;">
              <h2><span class="color-1">Nous</span> trouver</h2>
<iframe width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=tc+mennecy&amp;aq=0&amp;oq=tc+mennec&amp;sll=37.0625,-95.677068&amp;sspn=61.799062,135.263672&amp;ie=UTF8&amp;hq=tc&amp;hnear=Mennecy,+Essonne,+%C3%8Ele-de-France,+France&amp;t=m&amp;fll=48.55665,2.419556&amp;fspn=0.006419,0.016512&amp;st=103079826847897130309&amp;rq=1&amp;ev=zo&amp;split=1&amp;ll=48.556876,2.419813&amp;spn=0.006419,0.016512&amp;z=14&amp;iwloc=A&amp;cid=15440413710313793472&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=tc+mennecy&amp;aq=0&amp;oq=tc+mennec&amp;sll=37.0625,-95.677068&amp;sspn=61.799062,135.263672&amp;ie=UTF8&amp;hq=tc&amp;hnear=Mennecy,+Essonne,+%C3%8Ele-de-France,+France&amp;t=m&amp;fll=48.55665,2.419556&amp;fspn=0.006419,0.016512&amp;st=103079826847897130309&amp;rq=1&amp;ev=zo&amp;split=1&amp;ll=48.556876,2.419813&amp;spn=0.006419,0.016512&amp;z=14&amp;iwloc=A&amp;cid=15440413710313793472" style="color:rgb(1, 165, 202);text-align:left">Agrandir le plan</a></small>
                <dt>Boulevard Charles de Gaulle<br/>
                   (Collé au stade nautique départemental)</dt>
                <dd><span>Telephone: </span>09.63.03.38.27</dd>
                <dd><span>E-mail: </span><a href="mailto:tc.mennecy@fft.fr" class="link">tc.mennecy@fft.fr</a></dd>
              </dl>
            </div>
            <div class="col-4">
              <h2><span class="color-1">Nous envoyer</span> un mail</h2>
              <form id="form" method="post" action="#">
                <fieldset>
                  <label>
                    <input id="subject" type="text" value="Sujet" onBlur="if(this.value=='') this.value='Sujet'" onFocus="if(this.value =='Sujet' ) this.value=''">
                  </label>
                  <label>
                    <textarea id="message" onBlur="if(this.value==''){this.value='Message'}" onFocus="if(this.value=='Message'){this.value=''}">Message</textarea>
                  </label>
                  <div class="btns"><a href="#" id="clear" class="button">Effacer</a><a href="#" id="send" class="button">Envoyer</a></div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </section>
<% content_for :javascripts do %>
  <script>Cufon.now();</script>
  <%= javascript_include_tag "contact" %>
<% end %>