<!--==============================content================================-->
  <section id="content">
    <div class="container_12">
      <div class="grid_12">
        <div class="box-shadow">
          <div class="wrap block-2">
            <div class="col-3">
              <nav class="side_menu" id="side_menu">
                <% if @page.children.empty? then
                    pages = [@page.parent].concat(@page.parent.children)
                  else
                    pages = [@page].concat(@page.children)
                  end
                %>
                <ul>
                <% pages.each_with_index do |page, index| %>
                  <% infos = page.to_refinery_menu_item %>
                  <li class="<%= page == @page ? "selected" : "" %>"><%= link_to infos[:title], infos[:url], class: "#{index == 0 ? "first" : (index == pages.size - 1 ? "last" : "")}" %></li>
                <% end %>
                </ul></nav>
                <%=raw @page.content_for(:side_body) %>
                &nbsp;
              </div>
            <div class="col-4">
              <%=raw @page.content_for(:body) %>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </section>
