<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '662896980504935',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div id="header-image"></div>
<div id="header-content">
	<h1 id='logo'>
	  <%= link_to "<strong style='font-size:50%;line-height:20px;margin-top: -12px;margin-bottom:-10px;'>Tennis Club de</strong>Mennecy".html_safe, refinery.root_path %>
	</h1>
	<div id="header-subcontent" style="display:none;">
		<%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
	</div>
</div>
