/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require refinery/formatting
 *= require refinery/theme
 *= require_self
 *= require_tree .
 */

@font-face {
  font-family: 'Coolvetica-Regular';
  font-style: normal;
  font-weight: normal;
  src: font-url("coolveticarg.ttf") format("truetype");
}

@font-face {
  font-family: 'asapregular';
  src: font-url("Asap-Regular-webfont.eot");
  src: font-url("Asap-Regular-webfont.eot?#iefix") format("embedded-opentype"),
       font-url("Asap-Regular-webfont.woff") format("woff"),
       font-url("Asap-Regular-webfont.ttf") format("truetype"),
       font-url("Asap-Regular-webfont.svg#asapregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

nav ul li a, .font-1, .font-2, .font-3, h2 {
  font-family: 'asapregular';
  font-weight: normal;
  font-style: normal;
}

nav ul li {
  padding: 5px 10px;
  border: 1px solid lightgrey;
  background-color: rgba(1,165,202,0.1);
  margin-left: 10px !important;
}

.blurb ul {
  padding-left: 17px;
  list-style: inherit;
}