* {
	padding:0;
	margin:0;
}
.slider {
	width:940px;
	height:280px;
	background:transparent;
	margin:0px;
}
.items {
	display:none;
}
.pagination {
	position:absolute;
	bottom:20px;
	left:294px;
	z-index:98;
}
.pagination ul {
	margin:0px 0px 0 0;
}
.pagination li {
	float:left;
	margin:0 7px 0 0px;
}
.pagination li a {
	height:13px;
	width:13px;
	display:block;
	background: image-url("pagination.png") right 0 no-repeat;
}
.pagination li.current a {
	background-position:left 0;
}
.pagination li:hover a {
	background-position:left 0;
}
.slider .banner {
	display:block;
	position:absolute;
	left:625px;
	top:22px;
	z-index:99;
	width:295px;
}
.slider .banner p {
}
.slider .font-1 {
	font-size:45px;
	line-height:55px;
	color:#01a5ca;
	letter-spacing:-1px;
}
.slider .font-1 span {
	display:block;
	margin-top:-15px;
}
.slider .font-2 {
	font-size:17px;
	line-height:28px;
	color:#949494;
	margin-top:19px;
}
.slider .banner a {
	display:inline-block;
	background:#3f3f3f;
	font-size:14px;
	line-height:18px;
	color:#fff;
	text-transform:uppercase;
	padding:12px 27px 13px 27px;
	margin-top:30px;
}
.slider .banner a:hover {
	background:#01a5ca;
}


.small-slider {
	width:100%;
	height:92px;
	// background:white;
	margin:0px;
}
.items {
	display:none;
}
.small-slider .pagination {
	position:absolute;
	bottom:10px;
	left:294px;
	z-index:98;
}
.small-slider .pagination ul {
	margin:0px 0px 0 0;
}
.small-slider .pagination li {
	float:left;
	margin:0 7px 0 0px;
}
.small-slider .pagination li a {
	height:13px;
	width:13px;
	display:block;
	background: image-url("pagination.png") right 0 no-repeat;
}
.small-slider .pagination li.current a {
	background-position:left 0;
}
.small-slider .pagination li:hover a {
	background-position:left 0;
}
.small-slider .banner {
	display:block;
	position:absolute;
	float: right;
	padding-left: 170px;
	width: auto;
	top:-5px;
	z-index:99;
	width:auto;
}
.small-slider .banner p {
	line-height: 16px;
}
.small-slider .font-1 {
	font-size:17px;
	line-height:20px;
	color:#01a5ca;
	letter-spacing:-1px;
}
.small-slider .font-1 span {
	display:block;
	margin-top:-15px;
}
.small-slider .font-2 {
	font-size:17px;
	line-height:20px;
	color:#949494;
	margin-top:14px;
}
.small-slider .banner a {
	font-size:17px;
	line-height:28px;
	color:#01a5ca;
	letter-spacing:-1px;
}
.small-slider .banner a:hover {
	color:#006981;
	cursor: pointer;
	text-decoration: underline;
}
